@font-face {
	font-family: 'PFDinTextCondPro-Regular';
	src: local('PFDinTextCondPro-Regular'), url('PFDinTextCondPro-Regular.woff') format('woff');
}

@font-face {
	font-family: 'PTSerifBold';
	src: local('PTSerifBold'), url('PTSerifBold.woff') format('woff');
}

@font-face {
	font-family: 'PTSerifRegular';
	src: local('PTSerifRegular'), url('PTSerifRegular.woff') format('woff');
}

* {
	box-sizing: border-box;
}

html {
	padding: 0px;
}

body {
	margin: 0px auto;
	max-width: 1360px;
	min-width: 500px;
}

header {
	height: auto;
	text-align: center;	
	position: relative;
}

header img {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

header button {
	height: 63px;
	width: 42px;
	background: none;
	color: #7a7a7a;
	position: absolute;
	border: 1px solid #c6c6c6;
	border-top: none;
	font-size: 17px;
}

header button:hover {
	color: #0000ff;
}

button.search {
	top: 0px;
	right: 41px;
}

button.menu {
	top: 0px;
	right: 0px;
}

button.discussion {
	right: 0px;
	top: 63px;
}

header nav {
	display: inline-block;
	margin: 22px 120px 10px 260px;
}

header nav a {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: #000000;
	letter-spacing: 0.05em;
	font-family: 'PFDinTextCondPro-Regular';
	margin-right: 34px;
}

header nav a:last-child {
	margin-right: 0px;
}

header nav a:hover {
	color: #0000ff;
	text-decoration: none;
}


main {
	margin: 0px auto;
	margin-left: 42px;
	margin-right: 42px;
}

#main-slides {
	width: 100%;
	height: 470px;
	margin-right: 0px;
}

.carousel-control {
	width: 50px;
	background: none !important;
	text-shadow: none;
}

.carousel-control span.glyphicon {
	top: 50%;
	font-size: 9px;
}

ol.carousel-indicators {
	bottom: 0px;
}

ol.carousel-indicators li {
	border-radius: 0px;
	margin-top: 3px;
	transform: rotate(45deg);
	height: 8px;
	width: 8px;
	border: none;
	background: none;
	margin-left: 2px;
	margin-right: 2px;
	justify-content: center;
}

ol.carousel-indicators li.active {
	border-radius: 0px;
	background-color: #a2b3b3;
	height: 8px;
	width: 8px;
	margin-left: 2px;
	margin-right: 2px;
	border: 1px #676767 solid;
}

li .indicator-inner {
	width: 4px;
	height: 4px;
	background-color: #676767;
	margin-top: 3px;
	margin-left: 3px;
}


li.active .indicator-inner {
	margin: 1px;
}

#main-slides-inner .item {
	margin-top: 10px;
}

#main-slides .item {
	height: 460px;
	background-color: #a2b3b3;
}

.celebrity-image {
	z-index: -1;
	height: 100%;
	width: 50%;
}

#main-slides .item > img{
    width: auto;
    height: calc(100% + 10px);
	bottom: 0px;
	right: 0px;
	position: absolute;
}

.celebrity-info {
	display: inline-block;
	width: 60%;
	height: 100%;
	z-index: 4;
}

.celebrity-message {
	margin-top: 76px;
	margin-left: 138px;
	text-align: center;
}

.celebrity-info-title {
	text-transform: uppercase;
	color: white;
	font-size: 15px;
	font-family: 'PTSerifRegular';
	letter-spacing: 0.03em;
	margin-bottom: 0px;
}

.celebrity-info-text {
	font-family: 'PFDinTextCondPro-Regular';
	font-size: 15px;
	color: white;
	margin-top: -2px;
	margin-bottom: 9px;
}

.celebrity-info-link {
	font-family: 'PTSerifRegular';
	font-size: 12px;
	font-weight: bold;
	color: #343d3d;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	border-bottom: 1px #343d3d solid;
}

.celebrity-info-link:hover {
	text-decoration: none;
	border-bottom: 1px #0000ff solid;
	color: #0000ff;
}

.designer {
	position: absolute;
	bottom: 70px;
	left: 35px;
	display: inline-block;
	width: 233px;
	height: 233px;
	z-index: 3;
}

.designer .parent-rhomb {
	display: inline-block;
	position: relative;
	top: 34px;
	left: 34px;
	width: 164px;
	height: 164px;
	transform: rotate(45deg);
	background: none;
	border: 1px white solid;
}

.designer .child-rhomb {
	display: inline-block;
	position: relative;
	top: 4px;
	left: 4px;
	width: 154px;
	height: 154px;
	background: none;
	border: 1px white solid;
}

.designer-info {
	display: inline-block;
	position: absolute;
	top: 55px;
	width: 100%;
	bottom: 0px;
	text-align: center;
}

#main-slides .designer .designer-info img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: 1px white solid;
}

.designer-info hr {
	margin: 10px 45px auto;
	height: 1px;
	background: linear-gradient(90deg, #b5c2c2, white, #b5c2c2);
	border: none;
}

.designer-title {
	margin-top: 6px;
	font-family: 'PFDinTextCondPro-Regular';
	font-size: 15px;
	color: white;
}

.designer-rate {
	margin-top: 3px;
	font-size: 12px;
	color: white;
}

.celebrity-clothes-list {
	padding-left: 0px;
	position: absolute;
	top: 237px;
	left: 237px;
	text-decoration: none;
	z-index: 3;
}

.celebrity-clothes {
	list-style-type: none;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.celebrity-clothes .parent-rhomb {
	display: inline-block;
	position: relative;
	width: 71px;
	height: 71px;
	transform: rotate(45deg);
	background: white;
}

.celebrity-clothes .child-rhomb {
	display: inline-block;
	position: relative;
	top: 2px;
	left: 2px;
	width: 67px;
	height: 67px;
	background: none;
	border: 1px #b5c2c2 solid;
}

.celebrity-clothes-info {
	z-index: 1;
	display: inline-block;
	position: absolute;
	text-align: center; 
	width: 100%;
}

.celebrity-clothes-info hr {
	margin: 0px 8px;
	background-color: #b5c2c2;
	height: 1px;
    border: none;
}

.celebrity-clothes-info .clothes-price {
	margin-top: 15px;
	font-size: 14px;
	color: #b5c2c2;
	font-family: 'PFDinTextCondPro-Regular';
	letter-spacing: 0.01em;
}

.celebrity-clothes-info .clothes-title {
	font-size: 14px;
	color: #b5c2c2;
	font-family: 'PFDinTextCondPro-Regular';
	letter-spacing: 0.01em;
}

.celebrity-clothes-info .clothes-title:hover {
	color: #0000ff;
	text-decoration: none;
	cursor: pointer;
}

.second-row {
	height: 425px;
	padding: 0px;
	display: flex;
    flex-direction: row;
}

.new-trip {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 426px;
	height: 100%;
	margin: 0px;
	float: left;
	background-color: #bababa;
}

.new-trip .rhomb {
	width: 262px;
	height: 262px;
	position: absolute;
	transform: rotate(45deg);
	background: none;
	border: 2px  white solid;
}

.trip-text {
	position: absolute;
	color: white;
	text-align: center;
}

.trip-text-title {
	font-family: 'PTSerifRegular';	
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-top: 33px;
}

.trip-text-body {
	font-family: 'PFDinTextCondPro-Regular';
	margin-top: 15px;
	margin-bottom: 35px;
}

.trip-text a {
	font-family: 'PTSerifRegular';	
	text-transform: uppercase;
	color: white;
	text-decoration: underline;
	letter-spacing: 0.1em;
}

.trip-text a:hover {
	font-size: 15px;
}

.recommended-stylists {
	margin: 0px;
	display: inline-block;
	height: 100%;
	flex: 1;
}

#recommended-stylists-slides {
	margin: 0px;
	height: 100%;
	width: 100%;
}

#recommended-stylists-slides-inner {
	height: 100%;
}

#recommended-stylists-slides-inner div.item {
	background-color: #f7f3ec;
	height: 100%;
	width: 100%;
}

.rec-designer-photo img{
	margin-left: 57px;
	float: left;
	height: 425px;
	width: 425px;
}

#recommended-stylists-slides .carousel-control{
	color: #424242;
}

.rec-designer-info {
	width: 320px;
	height: 100%;
	display: inline-block;
	position: absolute;
	right: 3px;
	color: #4d4d4d;
}

.rec-designer-title {
	display: inline-block;
	font-family: 'PTSerifRegular';	
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	margin-top: 45px;
}

.rec-designer-title p{
	margin: 0px;
	padding: 0px;
	letter-spacing: 0.035em;
}

.rec-designer-title img {
	margin-top: -9px;
	margin-left: 35px;
}

.rec-designer-name {
	display: inline-block;
	float: left;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-size: 24px;
	font-family: 'PTSerifRegular';		
	text-transform: uppercase;	
	letter-spacing: 0.16em;
    line-height: 20px;
	margin-top: 55px;
	text-align: center;
}

.rec-designer-content {
	display: inline-block;
	font-family: 'PFDinTextCondPro-Regular';
}

.rec-designer-content table {
	margin-top: 50px;
	margin-left: 30px;
	color: #b2b1ac;
}

.rec-designer-content table td{
	padding-right: 25px;
	padding-left: 0px;
}

.rec-designer-content table .glyphicon {
	font-size: 12px;
}

.rec-designer-content-body {
	margin-left: 30px;
	margin-top: 17px;
	display: inline-block;
	width: 220px;
	float: left;
}

.rec-designer-content a {
	font-family: 'PTSerifRegular';		
	text-transform: uppercase;	
	position: absolute;
	bottom: 40px;
	color: #4d4d4d;
	text-decoration: none;
	border-bottom: 1px #4d4d4d solid;
	font-size: 12px;
	font-weight: bold;
}

.rec-designer-content a:hover {
	color: #0000ff;	
}

.third-row {
	height: 473px;
	/*width: 100%;*/
}

div.video {
	width: 850px;
	height: 100%;
	background-color: black;
	display: inline-block;
	float: left;
	position: relative;
}

video {
	width: 100%;
	height: 473px;
}

.video-controls {
	position: absolute;
	width: 100%;
	bottom: 0px;
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-right: 20px;
}

.video-controls button {
	width: 30px;
	background: none;
	border: none;
	color: white;
}

.latest-looks {
	display: inline-block;
	flex: 1;
	float: left;
	/*min-width: 212px;*/
}

.best-rated-looks {
	display: inline-block;
	flex: 1;
	/*min-width: 212px;*/
}

#barContainer {
	display: inline-block;
	width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
	height: 4px;
}

#durationBar {
	margin-top: 0px;
	height: 4px;
	background-color: white;
	width: 0%;
}

#positionBar {
    background-color: white;
	width: 10px;
	height: 10px;
    border-radius: 5px;
    margin-left: 0%;
    margin-top: -7px;
}

.calculator-and-looks {
	display: flex;
	flex-direction: column;
	float: left;
}

.looks {
	display: flex;
	flex-direction: row;
}

.refund-calculator {
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	height: 232px;
	width: 425px;

	background: linear-gradient(135deg, #d1d0d1 12.5%, #e4e1e2 0, #e4e1e2 50%, #d1d0d1 0, #d1d0d1 62.5%, #e4e1e2 0);
  	background-size: 5px 5px;
}

.refund-calculator form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 180px;
}

.refund-calculator form img {
	width: 75px;
	height: 3px;
	margin: 0px 0px 20px 0px;
}

.refund-calculator form label {
	font-size: 14px;
	font-family: 'PTSerifRegular';	
	text-transform: uppercase;
	margin: 0px 0px 8px 0px;
}

.refund-calculator form select {
	background: none;
	width: 100%;
	font-family: 'PFDinTextCondPro-Regular';
	margin-bottom: 13px;
	height: 30px;
	padding: 5px 15px;
	border: 1px solid #8a8a8a;
}

.refund-calculator form input {
	width: 100%;
	font-family: 'PFDinTextCondPro-Regular';
	margin-bottom: 20px;
	height: 30px;
	padding: 5px 15px;
	background: none;
	border: 1px solid #8a8a8a;
}

.refund-calculator form button {
	width: 100%;
	font-family: 'PTSerifRegular';	
	text-transform: uppercase;
	height: 32px;
	font-size: 14px;
	color: white;
	border: none;
	background-color: #a2b3b3;	
	letter-spacing: 0.02em;
}

.refund-calculator form button:hover {
	background-color: #0000ff;
}

#latest-looks-slides-inner .item {
	height: 241px;
	background-color: #e7e2e1;
	align-items: center;
	padding-top: 15px;
	width: 100%;
	margin: 0;
}


#best-rated-looks-slides-inner .item {
	height: 241px;
	background-color: #d7d4d5;
	align-items: center;
	padding-top: 15px;
	width: 100%;
	margin: 0;
}

#latest-looks-slides-inner .item p {
	font-family: 'PTSerifRegular';	
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	margin: 0 0 4px 0;
}

#latest-looks-slides-inner .item img {
	margin: 0 auto;
	height: 180px;
	width: 135px;
}

#latest-looks-slides-inner .item img.divider {
	width: 75px;
	height: 3px;
	margin-bottom: 6px;
}

#latest-looks-slides-inner .item .detail-look {
	width: 100%;
	height: 50px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    visibility: hidden;
}

#latest-looks-slides-inner .item .detail-look img {
	height: 32px;
	width: 32px;
	border-radius: 16px;
	float: left;
}

#latest-looks-slides-inner .item .detail-look p {
	text-align: left;
	font-family: 'PFDinTextCondPro-Regular';
	text-transform: none;
	margin: 0px 0px 3px 52px;
	position: relative;
	line-height: 12px;
}

#latest-looks-slides-inner .item .detail-look p .glyphicon{
	color: orange;
	font-size: 12px;
}

#latest-looks-slides-inner .item:hover .detail-look {
  visibility: visible;
  opacity: 1;
}

#best-rated-looks-slides-inner .item {
	width: 100%;
	height: 241px;
	background-color: #d7d4d5;
}

#best-rated-looks-slides-inner .item p {
	font-family: 'PTSerifRegular';	
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	margin: 0 0 4px 0;
}

#best-rated-looks-slides-inner .item img {
	margin: 0 auto;
	height: 180px;
	width: 135px;
}

#best-rated-looks-slides-inner .item img.divider {
	width: 75px;
	height: 3px;
	margin-bottom: 6px;
}

#best-rated-looks-slides-inner .item .detail-look {
	width: 100%;
	height: 50px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    visibility: hidden;
}

#best-rated-looks-slides-inner .item .detail-look img {
	height: 32px;
	width: 32px;
	border-radius: 16px;
	float: left;
}

#best-rated-looks-slides-inner .item .detail-look p {
	text-align: left;
	font-family: 'PFDinTextCondPro-Regular';
	text-transform: none;
	margin: 0px 0px 3px 52px;
	position: relative;
	line-height: 12px;
}

#best-rated-looks-slides-inner .item .detail-look p .glyphicon{
	color: orange;
	font-size: 12px;
}

#best-rated-looks-slides-inner .item:hover .detail-look {
  visibility: visible;
  opacity: 1;
}

.fourth-row {
	display: flex;
	background-color: #e5ecf0;
}

#latest-looks-slides .carousel-control{
	color: #424242;
}

#best-rated-looks-slides .carousel-control{
	color: #424242;
}

#product-partners-slides {
	height: 400px;
	flex: 3;
	display: flex;
}

.product-form {
	flex: 1;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	width: 25%;
	float: left;
	height: 100%;
	position: relative;
}

.product-form form {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 50px;
}


.product-form form label{
	font-family: 'PTSerifRegular';	
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	margin: 0px;
	line-height: 13px;
}

.product-form form p{
	font-family: 'PFDinTextCondPro-Regular';
	font-size: 14px;
}

.product-form form button {
	width: 180px;
	height: 32px;
	font-family: 'PFDinTextCondPro-Regular';
	border: none;
	background-color: #a2b3b3;
	margin: 25px auto 15px;
	color: white;
}

.product-form form button:hover {
	background-color: #0000ff;
}

.product-form form select{
	background: none;
	font-family: 'PFDinTextCondPro-Regular';
	margin: 0px auto;
	padding: 5px 15px;
	border: 1px solid #8a8a8a;
	width: 180px;
	height: 30px;
}

img.divider {
	width: 75px;
	height: 3px;
	margin: 13px auto 6px;
}

#product-partners-slides-inner .item {
	height: 100%;
	flex: 1;
}

#product-partners-slides-inner {
	width: 100%;
	height: 100%;
	display: flex;
}

.parent-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.product-container {
	flex: 1;
	/*height: 100%;*/
	display: inline-block;
	float: left;
	margin: 40px 40px 40px 0;
}

.product-info {
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 5px;
}

.product-image {
	border: 1px solid #f3f3f3;
	text-align: center;
	position: relative;
}

.product-info .product-image img {
	max-height: 247px;
	max-width: 247px;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.product-price {
	border: 1px solid #f3f3f3;
	margin: 5px 5px 0 0;
	height: 56px;
	width: 56px;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
.product-title {
	border: 1px solid #f3f3f3;
	margin: 5px 0;
	height: 56px;
	width: calc(100% - 61px);
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.product-info p {
	margin: 0;
	font-family: 'PFDinTextCondPro-Regular';
}

.product-new {
	background-color: #474747;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 15px;
	left: 15px;
	transform: rotate(45deg);
}

.product-new-child {
	transform: rotate(-45deg);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
	text-transform: uppercase;
	font-family: 'PFDinTextCondPro-Regular';
	font-size: 12px;
}

.product-info .product-image li {
	position: absolute;
	bottom: 0px;
	left: 19px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.product-info .product-image li ul{
	transform: rotate(45deg);
	margin: 16px 0;
	padding: 0;
	width: 13px;
	height: 13px;
	background-color: red;
}

.hidden-panel {
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #f3f3f3;
	background-color: white;
	visibility: hidden;
}

.hidden-panel .btn-rhomb {
	margin: 0;
	padding: 0;
	width: 22px;
	height: 22px;
	background-color: #474747;
	float: left;
	transform: rotate(45deg);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
}

.hidden-panel .btn-rhomb:last-child {
	margin-right: 0;
}

.hidden-panel .btn-rhomb:hover {
	background-color: #0000ff;
}

.hidden-panel .btn-rhomb-child {
	width: 100%;
	height: 100%;
	transform: rotate(-45deg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-rhomb-child i.glyphicon {
	color: white;
	font-size: 12px;
}

#product-partners-slides-inner .product-container:hover .hidden-panel {
  visibility: visible;
  opacity: 1;
}

footer {
	background-color: #d0dde4;
	margin: 0 42px 100px 42px;
}


.logo-footer {
	max-width: 100%;
	max-height: 140px;
	background-color: #d0dde4;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #dfe7ec;
}

footer .footer-content	{
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 33px 0 39px 0;
}

.itunes-link {
	flex: 1;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

.itunes-link img {
	margin-bottom: 32px;
}

.itunes-link a {
	font-family: 'PFDinTextCondPro-Regular';
	font-size: 15px;
	color: #474747;
	text-decoration: none;
	border-bottom: 1px solid #474747;
	margin-bottom: 18px;
	line-height: 1;
}

.footer-content > nav {
	padding: 0;
	margin: 0;
	flex: 2;
	display: flex;
	flex-direction: row;
}

.footer-content > nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 63px;
	flex: 1;
}

.footer-content > nav ul li {
	margin-bottom: 9px;
	padding: 0;
}

.footer-content > nav ul li a {
	color: #7d8386;
	font-weight: normal;
	font-size: 15px;
	line-height: 1;
	letter-spacing: 0.06em;
	font-family: 'PFDinTextCondPro-Regular';
	text-transform: uppercase;
}

.footer-content > nav ul li a:hover {
	text-decoration: none;
	color: #0000ff;
}

.footer-content address {
	flex: 1;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
}

.footer-content address {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.footer-content address label {
	text-transform: uppercase;
	font-family: 'PTSerifRegular';	
	font-size: 15px;
	color: #474747;
	line-height: 1;
    margin: 0 0 30px 0;
}

.footer-content address form {
	display: flex;
	flex-direction: row;
	margin: 0 0 20px 0;
}

.footer-content address form input {
	width: 130px;
	height: 30px;
	background-color: white;
	font-family: 'PFDinTextCondPro-Regular';
	border: none;
	margin: 0;
	color: #474747;
	padding: 10px;
}

.footer-content address form button {
	margin: 0;
	background-color: #474747;
	border: none;
	color: white;
	font-family: 'PFDinTextCondPro-Regular';
	padding: 0 15px;
}

.footer-content address form button:hover {
	background-color: #0000ff;
}

.footer-content address nav {
	margin: 0;
	padding: 0;
}

.footer-content address nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: start;
	margin: 0;
	padding: 0;
}

.footer-content address nav ul li button {
	width: 30px;
	height: 30px;
	margin: 0 13px 0 0;
	background-color: #474747;
	border: none;
	color: white;
	font-family: 'PFDinTextCondPro-Regular';
	font-size: 22px;
	color: #d0dde4;
	display: flex;
	justify-content: center;
	align-items: start;
}

.footer-content address nav ul li button:hover {
	background-color: #0000ff;
}

/* Media Queries*/


@media (max-width: 1376px) {
	.third-row {
		flex-direction: column;
		height: 714px;
	}

	div.video {
		width: 100%;
		height: 473px;
		/*flex: none;*/
	}

	div.video > video {
		width: 100%;
		height: 473px;
	}
	
	.calculator-and-looks {
		flex-direction: row;
		width: 100%;
	}

	.refund-calculator {
		height: 241px;
		flex: 1;
	}

	.looks {
		flex: 2;
	}
}

@media (max-width: 1330px) {
	.rec-designer-photo img {
		margin-left: 0;
	}
}

@media (max-width: 1300px) {
	.rec-designer-photo img {
		margin-left: 0;
	}
}

@media (max-width: 1100px) {
	#product-partners-slides {
		flex: 1;
		height: 100%;
	}

	.parent-container {
		flex-direction: column;
		height: 1080px;
	}

	.product-container {
		margin-bottom: 0;
	}

	.product-container::last-child {
		margin-bottom: 40px;
	}

	.fourth-row {
		height: 1120px;
	}
}

@media (min-width: 1025px) and (max-width: 1280px) {
	.rec-designer-photo img {
		opacity: 0.2;
	}

	.rec-designer-content table {
		color: #4d4d4d;
	}
}

@media screen and (max-width: 980px) {
	header nav a {
		margin: 0 20px;
	}

	button.search {
		top: 0px;
		right: 0px;
	}

	button.menu {
		top: 60px;
		right: 0px;
	}

	button.discussion {
		right: 0px;
		top: 120px;
	}
}

@media (max-width: 950px) {
	.celebrity-info {
		width: 50%;
	}

	.celebrity-message {
		margin: 10px 0 0 10px;
	}

	#main-slides .item > img {
		width: 50%;
		height: auto;
	}

	.video {
		display: none !important;
	}

	video {
		display: none !important;
	}

	.third-row {
		height: 241px;
	}
}


@media screen and (max-width: 900px) {
	.second-row {
		flex-direction: column;
		height: 850px;
	}
	
	.new-trip {
		flex: 1;
		width: 100%;
	}

	.recommended-stylists {
		flex: 1;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.rec-designer-photo img {
		opacity: 0.2;
	}

	.rec-designer-content table {
		color: #4d4d4d;
	}
}

@media (max-width: 767px) {

	.rec-designer-photo img {
		opacity: 0.2;
	}

	.rec-designer-content table {
		color: #4d4d4d;
	}

	.third-row {
		flex-direction: column;
		height: 241px;
	}

	.fourth-row {
		height: 1200px;
	}
	.calculator-and-looks {
		flex-direction: row;
		width: 100%;
	}

	.refund-calculator {
		height: 241px;
		flex: 2;
	}

	#product-partners-slides {
		height: 100%;
	}

	.product-container {
		margin-bottom: 0;
		flex: none;
	}

}

@media (max-width: 730px) { 
	header nav a{
		display: flex;
		flex-direction: column;
		font-size: 20px;
		margin: 10px;
	}

	.fourth-row {
		flex-direction: column;
		width: 100%;
	}

	.calculator-and-looks {
		flex-direction: column;
		height: 482px;
	}

	.refund-calculator {
		width: 100%;
	}

	.product-form {
		width: 100%;
		flex: none;
		height: auto;
	}

	.product-container {
		margin: 20px;
	}

	.fourth-row {
		height: 1320px;
	}

	.product-form form {
		padding-bottom: 0px;
	}

	footer .footer-content {
		flex-direction: column;
	}

	footer .footer-content > nav {
		flex-direction: column;
		align-items: center;
	}

	footer .footer-content > nav ul {
		margin: 0;
		padding: 0;
	}

	footer .footer-content > nav ul {
		margin: 0;
		padding: 0;
	}
	
	footer .footer-content address {
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
	}

	.celebrity-info {
		width: 100%;
	}

	.celebrity-message {
		margin: 10px;
	}

	.celebrity-info-title {
		font-size: 20px;
	}

	.celebrity-info-text {
		font-size: 20px;
	}

	.celebrity-info-link {
		font-size: 20px;
	}
	
	.designer {
		top: 158px;		
	}

	.designer-title {
		font-size: 20px;
	}

	.celebrity-clothes {
		font-size: 20px;
	}

	.celebrity-clothes-list {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 166px;
		left: 300px;
	}

	#main-slides {
		height: 800px;

	}

	#main-slides-inner {
		height: 100%;
	}

	#main-slides-inner .item{
		height: 100%;
	}

	#main-slides-inner .item > img{
		width: 100%;
	}
}